<svg >
<rect width="100%" height="100%" fill="#FFFACD" />
<symbol id="Cabin1">
<polygon id="zwei" points="1500,200 1600,200 1600,300 1500,300 1500,200" fill="#dfac20"/>
<text role="heading" x="1550" y="270">Inhalt</text>
</symbol>
<symbol id="Cabin2">
<polygon id="zwei" points="1500,200 1600,200 1600,300 1500,300 1500,200" fill="#dfac20"/>
<text role="heading" x="1550" y="270">Inhalt2</text>
</symbol>
<symbol id="Cabin3">
<polygon id="zwei" points="1500,200 1600,200 1600,300 1500,300 1500,200" fill="#dfac20"/>
<text role="heading" x="1550" y="270"></text>
</symbol>
<polygon points="0, 0 0, 1500 600, 1500 600, 1300 500, 1300 500, 1400 400, 1400 400, 1300 300, 1300 300, 1400 200, 1400 200, 1200 600, 1200 600, 1000 500, 1000 500, 1100 400, 1100 400, 1000 300, 1000 300, 1100 200, 1100 200, 900 600, 900 600, 700 500, 700 500, 800 400, 800 400, 700 300, 700 300, 800 200, 800 200, 600 600, 600 600, 400 500, 400 500, 500 400, 500 400, 400 300, 400 300, 500 200, 500 200, 300 700, 300 700, 1500 1200, 1500 1200, 1300 1100, 1300 1100, 1400 1000, 1400 1000, 1300 900, 1300 900, 1400 800, 1400 800, 1200 1200, 1200 1200, 1000 1100, 1000 1100, 1100 1000, 1100 1000, 1000 900, 1000 900, 1100 800, 1100 800, 900 1200, 900 1200, 700 1100, 700 1100, 800 1000, 800 1000, 700 900, 700 900, 800 800, 800 800, 600 1200, 600 1200, 400 1100, 400 1100, 500 1000, 500 1000, 400 900, 400 900, 500 800, 500 800, 200 1300, 200 1300, 1500 2000, 1500 2000, 1300 1900, 1300 1900, 1400 1800, 1400 1800, 1300 1700, 1300 1700, 1400 1600, 1400 1600, 1300 1500, 1300 1500, 1400 1400, 1400 1400, 1200 2000, 1200 2000, 1000 1900, 1000 1900, 1100 1800, 1100 1800, 1000 1700, 1000 1700, 1100 1600, 1100 1600, 1000 1500, 1000 1500, 1100 1400, 1100 1400, 900 1800, 900 1800, 700 1700, 700 1700, 800 1600, 800 1600, 700 1500, 700 1500, 800 1400, 800 1400, 600 1800, 600 1800, 400 1700, 400 1700, 500 1600, 500 1600, 400 1500, 400 1500, 500 1400, 500 1400, 300 1500, 300 1500, 100 1400, 100 1400, 0" fill="#EB954A"/>
<polyline points="1600,130 2100,130 2100,200 1600,200 1600,130" stroke="#DF4C20" stroke-width="5" fill="none"/>
<polyline points="1600,200 2500,200 2500,400 1600,400 1600,200" stroke="#DF4C20" stroke-width="5" fill="none"/>
<text role="heading2" x="1800" y="180">Programmschritt</text>
<text role="heading2" x="2100" y="450">Ergebnis</text>
<polyline points="2000,400 2200,400 2200,470 2000,470 2000,400" stroke="#DF4C20" stroke-width="5" fill="none"/>
<polyline points="1800,470 2200,470 2200,600 1800,600 1800,470" stroke="#DF4C20" stroke-width="5" fill="none"/>
<symbol id="Instructiontext1">
<text role="heading" x="2000" y="20260">Prüfen ob die Variable Inhalt2 größer als die Variable Inhalt ist</text>
</symbol>
<symbol id="Result1">
<text role="heading2" x="2000" y="20520">1</text>
</symbol>
<text role="heading2" x="450" y="460">+</text>
<text role="heading2" x="1050" y="460">-</text>
<text role="heading2" x="450" y="760">*</text>
<text role="heading2" x="1050" y="760">/</text>
<text role="heading2" x="450" y="1060"><</text>
<text role="heading2" x="1050" y="1060">></text>
<text role="heading2" x="450" y="1360">=</text>
<text role="heading" x="1050" y="1360">NICHT</text>
<text role="heading" x="1650" y="460">UND</text>
<text role="heading" x="1650" y="760">ODER</text>
<text role="heading" x="1450" y="1060">TEIL</text>
<text role="heading" x="1650" y="1060">START</text>
<text role="heading-small" x="1850" y="1040">ZEICHEN</text>
<text role="heading-small" x="1850" y="1060">ZAHL</text>
<text role="heading" x="1450" y="1360">WENN</text>
<text role="heading" x="1650" y="1360">DANN</text>
<text role="heading" x="1850" y="1360">SONST</text>
<!--<use xlink:href="#Cabincoordinator">
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M200,0 v-200 "/>
    <animateMotion begin="0.5s" dur="3s" 
     path="M-600,500 h-0.01 h0.01 " fill="freeze"/>
--></use>
<use xlink:href="#Cabin1">
    <animateMotion begin="0s" dur="3.5s"  
     path="M0,0 h-100 v-100 h-700 v1000 h400 v-100" fill="freeze"/>
    <animateMotion begin="7s" dur="0.5s"  
     path="M0,0 h-0.01 h0.01" fill="freeze"/>
</use>
<use xlink:href="#Cabin2">
    <animateMotion begin="0.5s" dur="3s"  
     path="M0,0 h-100 v-100 h-700 v1000 h200 v-100" fill="freeze"/>
    <animateMotion begin="7s" dur="0.5s"  
     path="M0,0 h-0.01 h0.01" fill="freeze"/>
</use>
<use xlink:href="#Cabin3">
</use>
<use xlink:href="#Instructiontext1">
<animateMotion begin="0s" dur="7s"
path="M0,-20000 h-0.01" fill="none"/>
</use>
<use xlink:href="#Result1">
<animateMotion begin="4s" dur="3s"
path="M0,-20000 h-0.01" fill="none"/>
</use>
  </svg>
<style>
svg {
	background: white;
	width: 335%;
	height: 30000px;
}
#zwei {
	stroke: #DF4C20;
	stroke-width: 5;
}
#drei {
	stroke: #DF4C20;
	stroke-width: 5;
}
#vier {
	stroke: blue;
	stroke-width: 5;
}
[role=heading-small] {
	font-size: 22px;
	text-anchor: middle;
	fill: var(--yellow);
	stroke: var(--blue);
	stroke-width: 2;
}
[role=heading] {
	font-size: 30px;
	text-anchor: middle;
	fill: var(--yellow);
	stroke: var(--blue);
	stroke-width: 2;
}
[role=heading2] {
	font-size: 50px;
	text-anchor: middle;
	fill: var(--yellow);
	stroke: var(--blue);
	stroke-width: 2;
}
</style>
